@import './../styles/layout.scss';
@import './../styles/colors.scss';
@import './../styles/breakpoints.scss';

.offCanvasMenu {
    position: absolute;
    right: $padding-global/2;
    top: $padding-global/2;
    opacity: 0;
    will-change: opacity;
    transition: opacity 3s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1000;
    overflow: hidden;
}

.list {
    position: fixed;
    right: $padding-global/2;
    top: 5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
    font-family: cairo;
    font-size: 2rem;
    line-height: 4rem;

    @include md {
        display: flex;
        top: $padding-global;
        right: $padding-global;
        font-size: 1rem;
        line-height: 1rem;
    }

    li {
        transform: translateX(10rem);
        opacity: 0;
        will-change: transform opacity;
        transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1), opacity 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition-delay: 0ms;

        @include md {
            transform: unset;
            opacity: 1;
            margin-left: $padding-global;
        }
    }
}

.offCanvasButton {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    font-size: 2.25rem;
    color: inherit;
    padding: 0;
    opacity: 1;
    will-change: opacity;
    transition: opacity 1s cubic-bezier(0.19, 1, 0.22, 1);

    @include sm {
        font-size: 1.75rem;
    }

    @include md {
        opacity: 0;
        pointer-events: none;
        font-size: 1.4rem;
    }
}

:global(.loadComplete) {
    .offCanvasMenu {
        opacity: 1;
    }
}

:global(.menuVisible) {
    .offCanvasMenu {
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;

        &::before {
            content: '';
            width: 100vw;
            height: 100vh;
            display: block;
            position: absolute;
            background: linear-gradient(90deg, #16c1d836, #cd9add4d);
            pointer-events: none;
        }
    }
    .offCanvasButton {
        position: absolute;
        right: $padding-global/2;
        top: $padding-global/2;
    }
    .list li {
        transform: translateX(0);
        opacity: 1;
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                transition-delay: (100ms * $i);
            }
        }
    }
}

// This hides menu items to avoid visual artefacts with transitions between states
:global(.isResizing) {
    .list li {
        @media (min-width: #{$screen-md-min - 100px}) and (max-width: #{$screen-md-min + 100px}) {
            opacity: 0;
            transition: none;
        }
    }
}
