// text
$global-text-color: #170634;

// other colors
$global-accent-color: #ae0c37;

// gradients
$fill-h1: radial-gradient(circle at bottom right, #ae0c37, #080436);
$fill-off-canvas-menu-bg: radial-gradient(circle at bottom right, #ae0c37, #080436);
