@import 'modern-normalize/modern-normalize.css';

#root {
    background: radial-gradient(at bottom right, #16A085, #F4D03F);
    background: radial-gradient(at bottom right, #2BC0E4, #EAECC6);
    height: 100vh;
}
