@import 'modern-normalize/modern-normalize.css';
@import './breakpoints.scss';

#root {
    background: gray;
    overflow: hidden;
    min-height: 100vh;

    &.loadComplete {
        min-height: unset;
    }
}

html {
    @include sm {
        font-size: 20px;
    }
    @include md {
        font-size: 24px;
    }
    @include lg {
        font-size: 26px;
    }
    @include xl {
        font-size: 28px;
    }
}
