@import './../styles/animations.scss';
@import './../styles/breakpoints.scss';
@import './../styles/layout.scss';
@import './../styles/colors.scss';
@import './../styles/common.scss';


.h1 {
    @extend .animationBase;
    @extend .heading_1_base;

    @include md {
        &::before {
            content: "Hi, I'm   ";
            width: 100vw;
            display: inline-block;
            font-weight: 900;
            background: #b4ddd0;
            -webkit-text-fill-color: transparent;
            background-clip: inherit;
            -webkit-background-clip: text;
            font-size: 4rem;
            position: absolute;
            mix-blend-mode: color;
            transform: translate(-1.5rem, -2.5rem);
        }
    }
}

.h2 {
    @extend .animationBase;
    @extend .heading_2_base;
}

.mainSection {
    @extend .animationBase;
    @extend .mainSection_base;

    text-align: justify;
}

.hr {
    @extend .hr_base;
    @extend .animationBase;
}
