.overlay {
    will-change: opacity;
    opacity: 0;
    pointer-events: none;
    animation: overlayFadeIn;
    animation-duration: 2.5s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    contain: strict;
}

.loader {
    display: inline-block;
    color: red;
    animation: loaderSpin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

:global(.loadComplete) {
    .children {
        opacity: 1;
    }
    .overlay {
        animation: overlayFadeOut;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
}

@keyframes overlayFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes overlayFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes loaderSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}