.overlay {
    will-change: opacity;
    transition: opacity 2s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 1;
    pointer-events: none;
}

:global(.loadComplete) {
    .overlay {
        opacity: 0;
    }
}
